<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>77CAE0B0-4883-4AAE-BC37-AD00327B2811</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC68999D-94BA-48FD-9A94-32BED144AF59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C38A181A-64BE-4E24-9115-36178743399C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA9D2266-FD21-4A44-A51A-5B265B56B1C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC68999D-94BA-48FD-9A94-32BED144AF59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C38A181A-64BE-4E24-9115-36178743399C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>John Russell</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CCS checkboxes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "System Events"
    keystroke "j" using {option down, command down}
    delay 1
   end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>DC68999D-94BA-48FD-9A94-32BED144AF59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ccs checkboxes</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>CCS Checkboxes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77CAE0B0-4883-4AAE-BC37-AD00327B2811</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "System Events"
	keystroke return
    delay 0.2
	keystroke "d"
    -- keystroke "j" using {option down, command down}
   end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>FA9D2266-FD21-4A44-A51A-5B265B56B1C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>var aa = document.querySelectorAll("input[type=checkbox]");
    for (var i = 0; i &lt; aa.length; i++){
        aa[i].checked = true;
    }</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C38A181A-64BE-4E24-9115-36178743399C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>77CAE0B0-4883-4AAE-BC37-AD00327B2811</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>C38A181A-64BE-4E24-9115-36178743399C</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>DC68999D-94BA-48FD-9A94-32BED144AF59</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>FA9D2266-FD21-4A44-A51A-5B265B56B1C7</key>
		<dict>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
